body {
    background-color: rgb(107, 107, 107);
    color: white;
}

.navbar {
    background-color: rgb(0, 128, 255);
    display: flex;
    justify-content: flex-start;
    height: 8vh;
    font-size: 4vh;
}

.activeLink {
    background-color: rgb(0, 128, 255) !important;
    text-decoration: underline !important;
}

.link {
    color: white;
    text-decoration: none;
    margin: 0 5vw 0 5vw;
}

.link:hover {
    color: white;
}